In [1]:
from pathlib import Path
Path ('births.db').touch()

In [3]:
import sqlite3
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
from sqlalchemy import create_engine

In [4]:
users = pd.read_csv('birth_by_state.csv')

In [5]:
conn = sqlite3.connect('births.db')
c = conn.cursor()

In [7]:
#write the table to sqlite
users.to_sql('birthstate', conn, if_exists='append', index = False)
users

     YEAR STATE  FERTILITY RATE  BIRTHS
0    2020    AL            60.6   57647
1    2020    AK            65.7    9469
2    2020    AZ            54.0   76947
3    2020    AR            60.7   35251
4    2020    CA            52.4  420259
..    ...   ...             ...     ...
395  2005    VA            64.0  104555
396  2005    WA            63.0   82703
397  2005    WV            59.2   20836
398  2005    WI            62.5   70984
399  2005    WY            71.4    7239

[400 rows x 4 columns]

In [9]:
c.execute('SELECT * FROM birthstate')